# Core du bot Discord
discord.py==2.3.2

# Base de données
sqlalchemy==2.0.31

# Gestion des variables d'environnement (.env)
python-dotenv==1.0.1

# Pour les appels API (utilisé dans dev_stats_cog.py)
aiohttp==3.9.5

# Recommandé par discord.py pour le support de la voix (supprime un warning au démarrage)
PyNaCl==1.5.0